*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary; //"Noto Sans TC", sans-serif
  line-height: $line-height-base; //1.5
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  display: inline-block;
  padding: 6px 12px;
  font-size: $font-size-base; //16px
  background: transparent;
  border: 1px solid $black;
  resize: none;
}
hr {
  border: 1px solid;
  margin: 0;
}

label {
  display: inline-block;
}
