.bg-primary {
  background-color: $primary;
}
.bg-primary-light {
  background-color: $primary-light;
}
.bg-primary-dark {
  background-color: $primary-dark;
}
.bg-white {
  background-color: $white;
}
