.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  @include md {
    max-width: 720px;
  }
  @include sm {
    max-width: 375px;
  }
}
@include sm {
  .container-sm-100 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

$base-col: calc(1 / 12 * 100%);
.col-1 {
  width: $base-col;
}
.col-3 {
  width: $base-col * 3;
}
.col-4 {
  width: $base-col * 4;
}
.col-6 {
  width: $base-col * 6;
}
.col-12 {
  width: 100%;
}

@include md {
  .col-md-6 {
    width: $base-col * 6;
  }
  .col-md-10 {
    width: $base-col * 10;
  }
  .col-md-12 {
    width: 100%;
  }
}
@include sm {
  .col-sm-12 {
    width: 100%;
  }
}
