.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  @include md {
    max-width: 720px;
  }
  @include sm {
    max-width: 375px;
  }
}
@include md {
  .container-md-100 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@include sm {
  .container-sm-100 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

//$col-base: calc(1 / 12 * 100%); //8.333%
//$col-max: 12;
//分開寫，確保sm覆蓋md，md覆蓋電腦
@for $i from 1 through $col-max {
  .col-#{$i} {
    width: $col-base * $i;
  }
}
@for $i from 1 through $col-max {
  @include md {
    .col-md-#{$i} {
      width: $col-base * $i;
    }
  }
}
@for $i from 1 through $col-max {
  @include sm {
    .col-sm-#{$i} {
      width: $col-base * $i;
    }
  }
}
