//排版
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
@include md {
  .flex-md-column {
    flex-direction: column;
  }
}
@include sm {
  .d-sm-none {
    display: none;
  }
  .flex-sm-column {
    flex-direction: column;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
}

.radius-1 {
  border-radius: 4px;
}
