//排版
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
@include sm {
  .d-sm-none {
    display: none;
  }
  .flex-sm-column {
    flex-direction: column;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
}

// box 樣式
.overflow-hidden {
  overflow: hidden;
}
.shadow {
  box-shadow: 0px 2px 6px #00000029;
}
.border-light {
  border: 1px solid $gray-light;
}
.border-dark {
  border: 1px solid $gray-dark;
}
.radius-1 {
  border-radius: 4px;
}

// img
.img-cover {
  object-fit: cover;
}
