.hover-text-gray {
  transition: color 0.2s;
  &:hover,
  &:active {
    color: #d0d0d0;
  }
}

.hover-text-primary {
  transition: color 0.2s;
  &:hover,
  &:active {
    color: $primary;
  }
}
.hover-underline-white {
  border-bottom: 4px solid transparent;
  transition: border-color 0.2s;
  &:hover,
  &:active {
    border-bottom-color: $primary-light;
  }
}
.hover-bg-primary {
  transition: background-color 0.3s;
  &:active,
  &:hover {
    background-color: $primary;
  }
}
.hover-scale {
  transition: transform 0.2s;
  &:hover,
  &:active {
    transform: scale(1.05);
  }
}
