// margin
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@include sm {
  .mx-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
// $spacing-base: 4px;
// $spacing-max: 24;
@for $i from 0 through $spacing-max {
  .m-#{$i} {
    margin: $i * $spacing-base;
  }
  .mt-#{$i} {
    margin-top: $i * $spacing-base;
  }
  .ml-#{$i} {
    margin-left: $i * $spacing-base;
  }
  .mr-#{$i} {
    margin-right: $i * $spacing-base;
  }
  .mb-#{$i} {
    margin-bottom: $i * $spacing-base;
  }
}
@include md {
  @for $i from 0 through $spacing-max {
    .m-md-#{$i} {
      margin: $i * $spacing-base;
    }
    .mt-md-#{$i} {
      margin-top: $i * $spacing-base;
    }
    .ml-md-#{$i} {
      margin-left: $i * $spacing-base;
    }
    .mr-md-#{$i} {
      margin-right: $i * $spacing-base;
    }
    .mb-md-#{$i} {
      margin-bottom: $i * $spacing-base;
    }
  }
}
@include sm {
  @for $i from 0 through $spacing-max {
    .m-sm-#{$i} {
      margin: $i * $spacing-base;
    }
    .mt-sm-#{$i} {
      margin-top: $i * $spacing-base;
    }
    .ml-sm-#{$i} {
      margin-left: $i * $spacing-base;
    }
    .mr-sm-#{$i} {
      margin-right: $i * $spacing-base;
    }
    .mb-sm-#{$i} {
      margin-bottom: $i * $spacing-base;
    }
  }
}

// padding
@for $i from 0 through $spacing-max {
  .p-#{$i} {
    padding: $i * $spacing-base;
  }
  .pb-#{$i} {
    padding-bottom: $i * $spacing-base;
  }
  .pl-#{$i} {
    padding-left: $i * $spacing-base;
  }
  .pt-#{$i} {
    padding-top: $i * $spacing-base;
  }
  .py-#{$i} {
    padding-top: $i * $spacing-base;
    padding-bottom: $i * $spacing-base;
  }
  .px-#{$i} {
    padding-right: $i * $spacing-base;
    padding-left: $i * $spacing-base;
  }
}
@include md {
  @for $i from 0 through $spacing-max {
    .p-md-#{$i} {
      padding: $i * $spacing-base;
    }
    .pb-md-#{$i} {
      padding-bottom: $i * $spacing-base;
    }
    .pl-md-#{$i} {
      padding-left: $i * $spacing-base;
    }
    .pt-md-#{$i} {
      padding-top: $i * $spacing-base;
    }
    .py-md-#{$i} {
      padding-top: $i * $spacing-base;
      padding-bottom: $i * $spacing-base;
    }
    .px-md-#{$i} {
      padding-right: $i * $spacing-base;
      padding-left: $i * $spacing-base;
    }
  }
}
@include sm {
  @for $i from 0 through $spacing-max {
    .p-sm-#{$i} {
      padding: $i * $spacing-base;
    }
    .pb-sm-#{$i} {
      padding-bottom: $i * $spacing-base;
    }
    .pl-sm-#{$i} {
      padding-left: $i * $spacing-base;
    }
    .pt-sm-#{$i} {
      padding-top: $i * $spacing-base;
    }
    .py-sm-#{$i} {
      padding-top: $i * $spacing-base;
      padding-bottom: $i * $spacing-base;
    }
    .px-sm-#{$i} {
      padding-right: $i * $spacing-base;
      padding-left: $i * $spacing-base;
    }
  }
}

// gap
@for $i from 0 through $spacing-max {
  .g-#{$i} {
    gap: $i * $spacing-base;
  }
  .gy-#{$i} {
    row-gap: $i * $spacing-base;
  }
  .gx-#{$i} {
    column-gap: $i * $spacing-base;
  }
}
@include md {
  @for $i from 0 through $spacing-max {
    .g-md-#{$i} {
      gap: $i * $spacing-base;
    }
    .gy-md-#{$i} {
      row-gap: $i * $spacing-base;
    }
    .gx-md-#{$i} {
      column-gap: $i * $spacing-base;
    }
  }
}
@include sm {
  @for $i from 0 through $spacing-max {
    .g-sm-#{$i} {
      gap: $i * $spacing-base;
    }
    .gy-sm-#{$i} {
      row-gap: $i * $spacing-base;
    }
    .gx-sm-#{$i} {
      column-gap: $i * $spacing-base;
    }
  }
}
