<footer class="pt-12 pt-sm-6 bg-primary text-white">
  <div class="container">
    <div class="d-flex justify-content-between">
      <!-- 左 -->
      <div>
        <!-- nav -->
        <ul class="nav g-12 mb-9 d-sm-none">
          <li>
            <a class="hover-text-gray" href="./index.html">首頁</a>
          </li>
          <li>
            <a class="hover-text-gray" href="./product-1.html">系列鏡框</a>
          </li>
          <li>
            <a class="hover-text-gray" href="./location.html">門市據點</a>
          </li>
          <li><a class="hover-text-gray" href="./blog.html">部落格</a></li>
          <li><a class="hover-text-gray" href="./qa.html">常見問題</a></li>
        </ul>
        <!-- contact -->
        <a
          class="d-flex align-items-center mb-2 hover-text-gray"
          href="tel:+886-800-000-00"
          ><span class="material-symbols-outlined mr-4 mr-sm-2 fs-2 fs-sm-7"
            >call </span
          ><span class="fs-5 fs-sm-10 fs-vw-md-5">0800-000-00</span>
        </a>

        <a
          class="d-flex align-items-center mb-8 mb-sm-6 hover-text-gray"
          href="mailto: glasses@business.com"
          ><span class="material-symbols-outlined mr-4 mr-sm-2 fs-2 fs-sm-7"
            >mail </span
          ><span class="fs-5 fs-sm-10 fs-vw-md-5">glasses@business.com</span>
        </a>
      </div>
      <!-- 右 -->
      <div class="d-flex flex-wrap g-8 g-md-4 g-sm-2">
        <a class="social hover-scale" href="#"
          ><img src="../assets/images/ic-social-fb.png" alt="fb"
        /></a>
        <a class="social hover-scale" href="#"
          ><img src="../assets/images/ic_social_ig.png" alt="ig"
        /></a>
        <a class="social hover-scale" href="#"
          ><img src="../assets/images/ic_social_line.png" alt="ig"
        /></a>
      </div>
    </div>

    <hr style="border-color: #fff" />
    <!-- copyright -->
    <div class="d-flex flex-sm-column justify-content-between py-8 py-sm-4">
      <p class="mb-sm-2 ff-secondary">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="d-flex flex-sm-column gx-12">
        <li class="mb-sm-2">
          <a class="fs-11 fs-sm-10 hover-text-gray" href="#">隱私權政策</a>
        </li>
        <li class="mb-sm-2">
          <a class="fs-11 fs-sm-10 hover-text-gray" href="#">服務條款</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
