<footer class="pt-15 pt-md-12 pt-sm-6 bg-primary text-white">
  <div class="container">
    <div class="d-flex justify-content-between">
      <!-- 左 -->
      <div>
        <ul class="d-flex mb-9 d-sm-none">
          <li class="mr-12"><a href="../pages/index.html">首頁</a></li>
          <li class="mr-12"><a href="#">系列鏡框</a></li>
          <li class="mr-12"><a href="#">門市據點</a></li>
          <li class="mr-12"><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <!-- contact -->
        <a class="d-flex align-items-center mb-2 mb-sm-2" href="tel:080000000"
          ><span class="material-symbols-outlined mr-5 mr-sm-3 fs-36 fs-sm-18"
            >call </span
          ><span class="fs-36 fs-sm-16 fs-vw-md-36">0800-000-000</span>
        </a>

        <a
          class="d-flex align-items-center mb-8 mb-sm-6"
          href="mailto: glasses@business.com"
          ><span class="material-symbols-outlined mr-5 fs-36 mr-sm-3 fs-sm-18"
            >mail </span
          ><span class="fs-36 fs-sm-16 fs-vw-md-36">glasses@business.com</span>
        </a>
      </div>
      <!-- 右 -->
      <div class="d-flex">
        <div class="social">
          <a href="#"
            ><img src="../assets/images/ic-social-fb.png" alt="fb"
          /></a>
        </div>
        <div class="ml-8 ml-md-4 ml-md-2 social">
          <a href="#"
            ><img src="../assets/images/ic_social_ig.png" alt="ig"
          /></a>
        </div>
        <div class="ml-8 ml-md-4 ml-md-2 social">
          <a href="#"
            ><img src="../assets/images/ic_social_line.png" alt="ig"
          /></a>
        </div>
      </div>
    </div>

    <hr style="border: 1px solid #fff; margin: 0" />
    <!-- copyright -->
    <div
      class="d-flex flex-sm-column justify-content-between py-8 py-sm-4 fs-14 fs-sm-16"
    >
      <p class="mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex flex-sm-column">
        <li class="mr-12 mb-sm-2"><a href="#">隱私權政策</a></li>
        <li class="mb-sm-2"><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
