.breadcrumb {
  display: flex;
  li + li:before {
    content: "\00A0/\00A0"; //\00A0為空白
    color: $black;
  }
  a:hover,
  a:active {
    text-decoration: underline;
  }
  li:last-child {
    color: $primary;

    a {
      pointer-events: none;
    }
  }
}
