.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%; //使卡片等高
  &_body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & :last-child {
      margin-top: auto;
    }
  }
  &_justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.card-shadow {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #dee2e6;
}

.card-hover {
  .card-hover-opacity {
    transition: filter 0.3s;
  }
  &:hover .card-hover-opacity {
    filter: opacity(0.6);
  }

  .card-hover-scale {
    transition: transform 0.3s;
  }
  &:hover .card-hover-scale {
    transform: scale(1.2);
  }
}
