footer {
  a {
    transition: color 0.3s;
    &:active,
    &:hover {
      color: #ddd;
    }
  }
}
.social {
  width: 48px;
  transition: transform 0.3s;
  &:hover,
  &:active {
    transform: scale(1.05);
  }
  @include md {
    width: 40px;
  }
  @include sm {
    width: 24px;
  }
}
