.logo {
  width: 80px;
}
.nav {
  display: flex;
  a {
    padding: 25px 32px;
    transition: background-color 0.3s;
    &:active,
    &:hover {
      background-color: $red-dark;
    }
  }
}

@include sm {
  .nav {
    flex-wrap: wrap;
    li {
      width: 50%;
      border: 1px solid $white;
      text-align: center;
    }
    a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
