.banner {
  background: url("../images/home-header.png") no-repeat;
  background-size: cover;
  padding-top: 296px;
  padding-bottom: 296px;

  @include md {
    background: url("../images/home-header-sm.png") no-repeat;
    background-size: cover;
    @include sm {
      padding-top: 144px;
      padding-bottom: 144px;
    }
  }
}

.co-branding {
  background: url("../images/index-bg.png") no-repeat;
  background-size: cover;
  @include md {
    background: url("../images/index-bg-md.png") no-repeat;
    background-size: cover;
  }
  @include sm {
    background: url("../images/index-bg-sm.png") no-repeat;
    background-size: cover;
  }
}
