.select {
  padding: 4px 12px;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 18px;
  width: 304px;
  cursor: pointer;

  /*移除箭頭樣式*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /*改變右邊箭頭樣式*/
  background: url("../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz24.svg")
    no-repeat transparent;
  background-position: right 12px center;

  /*IE隱藏箭頭樣式*/
  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    outline: 1px solid black;
  }
}

.map {
  width: 100%;
  height: 100%;
  @include md {
    height: 414px;
  }
  @include sm {
    height: 208px;
  }
}
