<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框-SUNGLASSES | GLASSES</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="ff-secondary">
      <!--===============================
      =           product nav           =
      ================================-->
      <div class="container container-md-100">
        <ul class="nav nav-tab fs-5 fw-medium fs-md-7 fs-vw-sm-10">
          <li class="col-4">
            <a class="hover-text-primary" href="./product-1.html"> OPTICAL </a>
          </li>
          <li class="col-4">
            <a class="hover-text-primary active" href="./product-2.html"
              >SUNGLASSES</a
            >
          </li>
          <li class="col-4">
            <a class="hover-text-primary" href="#">FUNCTIONAL</a>
          </li>
        </ul>
      </div>

      <!--===============================
       =         product banner         =
       ================================-->
      <div class="d-flex mb-20 mb-sm-10">
        <div class="col-6">
          <img
            class="d-md-none"
            src="../assets/images/product-header-3.png"
            alt="product banner"
          />
          <img
            class="d-none d-md-block"
            src="../assets/images/product-header-sm-3.png"
            alt="product banner"
          />
        </div>
        <div class="col-6">
          <img
            class="d-md-none"
            src="../assets/images/product-header-4.png"
            alt="product banner"
          />
          <img
            class="d-none d-md-block"
            src="../assets/images/product-header-sm-4.png"
            alt="product banner"
          />
        </div>
      </div>

      <!--===============================
         =          product-list          =
         ================================-->
      <div class="container">
        <div class="mb-8 mb-sm-6 text-center">
          <h2 class="fs-3 fw-medium fs-sm-7">2020 NEW COLLECTION</h2>
          <h2 class="fs-6 fs-sm-7 ff-primary">賽璐珞鈦金屬混合鏡框</h2>
        </div>
        <!-- product card -->
        <ul
          class="row justify-content-start gy-20 gy-md-10 gy-sm-6 mb-20 mb-sm-16"
        >
          <!-- 1 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-7.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>

          <!-- 2 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-8.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>

          <!-- 3 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-9.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>

          <!-- 4 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-10.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>

          <!-- 5 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-11.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>

          <!-- 6 -->
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <a class="card card-hover" href="#">
              <div class="overflow-hidden">
                <img
                  class="card-hover-scale"
                  src="../assets/images/product-12.png"
                  alt="product"
                />
              </div>
              <div class="card_body">
                <div class="d-flex flex-wrap justify-content-between fs-7">
                  <h3>BJ41600S</h3>
                  <span class="text-primary fw-medium">NTD3,490</span>
                </div>
                <div class="d-flex gx-2">
                  <div
                    class="color-block"
                    style="background-color: #b75929"
                  ></div>
                  <div
                    class="color-block"
                    style="background-color: #5f3e2d"
                  ></div>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <!-- pagination -->
        <ul class="pagination mb-20 mb-sm-16">
          <li class="pagination_text"><a href="#">上一頁</a></li>
          <li><a href="#">1</a></li>
          <li><a class="active" href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="pagination_text"><a href="#">下一頁</a></li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
